@()
<form action="/getUser">
    <head>
    <title>Sample</title>
    </head>
    <body>
        <h1>フォーム作成</h1>
        <div class="home-group">
            <label for="formGroupExampleInput">名前 : </label>
            <input type="text" name ="name" class="home-control" id="formGroupExampleInput">
        </div>
        <div class="home-group">
            <label for="formGroupExampleInput2">年齢 : </label>
            <input type="text" name ="age" class="home-control" id="formGroupExampleInput2">
        </div>
        <button type="submit">送信</button>
    </body>
</form>